 

<div class ="card mat-card">
<span class="border"><strong>Acerca de</strong></span><div class="d-flex flex-row-reverse">
<div class="container text-center">
  <div class="d-grid gap-3">
  <div class="p-2 bg-light border text-start shadow-lg p-3 mb-5 bg-body rounded"><h6><p class="fw-light">Lidero un equipo de trabajo dentro de una compañía dedicada al desarrollo inmobiliario.Contribuyendo con la visión del lugar, donde todo está pensado para que las cosas sean “para toda la vida”. Cada cimiento que se pone y cada inversión que se decide está analizado en detalle.
   Utilizo mi trabajo como mecanismo para mejorar como persona, aprendiendo y emprendiendo cada uno de los desafíos que se presentaron y se presentan en mi camino.</p></h6></div> 
  <div class="row">
  <div class=".col-md-4 .ms-auto"><h5>Licenciada en Administración de Empresas.UNLP</h5>
  <h5>Full Stack Developer Jr <i class="fa-solid fa-pen"></i></h5></div>
  <div class="col-1"><div class="d-flex flex-row-reverse"></div><div class="p-2 mb-1"></div></div></div></div></div>
  <div class="d-grid gap-3">
  <div class="p-3 bg-light text-black shadow-lg p-3 mb-5 bg-body rounded align-middle"><img src="Anochecer.jpg" weight="90" height="90" alt="" class="rounded-circle" title="...">
  <h5>Maria de los Angeles Ellero</h5></div></div>
</div>
</div>
<div class ="card mat-card">
<span class="border"><strong>Experiencia</strong><i class="fa-solid fa-pen p-3 mb-5 position-absolute top-0 end-0"></i></span><div class="d-flex flex-row-reverse"><div class="p-2"><div class="p-3 mb-2"></div>
</div>
</div>
<div class="container-fluid d-grid gap-2">
  <div class="row">
    <div class="col order-last p-2 bg-light border text-center">
     2010- Actualidad
    </div>
    <div class="col p-2 bg-light border text-center">
      Gerente de Administración y Finanzas
    </div>
    <div class="col order-first p-2 bg-light border"><img src="1588236848803.jpg" alt="area60" width="80"height="40">
    Area 60
    </div>
  </div>
    <div class="row">
      <div class="col order-last p-2 bg-light border text-center">
        2003-2010
      </div>
      <div class="col p-2 bg-light border text-center">
        Gerente de Administración y Finanzas
      </div>
      <div class="col order-first p-2 bg-light border"><img src="1531929256241.jpg" alt="snoop" width="80" height="40">
      Snoop Consulting
      </div>
  </div>
</div>
</div>
<div class ="card mat-card">
<span class="border"><strong>Educacion</strong><i class="fa-solid fa-pen p-3 mb-5 position-absolute top-0 end-0"></i></span>
<div class="d-flex flex-row-reverse"></div>
<div class="d-grid gap-3">
<div class="p-2 bg-light border"><img src="1519866754211.jpg" alt="unlp" width="120" height="60"><img src="fce.png"alt="fce"weight="50" height="45"></div>
<div class="p-2 bg-light border"><img src="1612461770990.jpg" alt="uade" width="100" height="60"></div>
<div class="p-2 bg-light border"><img src="1633526262844.jpg" alt="ucema" width="100" height="40"></div>
</div> 
</div> 
<div class ="card mat-card">
<span class="border"><strong>Hard Skills & Soft Skills</strong><i class="fa-solid fa-pen p-3 mb-5 position-absolute top-0 end-0"></i></span>
<div class="d-flex flex-row-reverse"></div>
<div class="d-grid gap-3">
<div class="p-2 bg-light border">Grid item 1</div>
<div class="p-2 bg-light border">Grid item 2</div>
<div class="p-2 bg-light border">Grid item 3</div>
</div> 
</div> 
<div class ="card mat-card">
<span class="border"><strong>Proyectos</strong><i class="fa-solid fa-pen p-3 mb-5 position-absolute top-0 end-0"></i></span>
<div class="d-flex flex-row-reverse"></div>
<div class="d-grid gap-3">
<div class="p-2 bg-light border">Grid item 1</div>
<div class="p-2 bg-light border">Grid item 2</div>
<div class="p-2 bg-light border">Grid item 3</div>
</div> 
</div> 
<footer><p class="card-text placeholder-glow"><span class="placeholder col-12"></span>
<span class="placeholder col-12"></span></p>
<div><p> CV Maria de los Angeles Ellero-Lic en ADMINISTRACION-UNLP</p></div>
<address>Contacto: <a href="mailto:mimicha.ellero@gmail.com">Email</a></address>
</footer>
