p{color:rgb(60, 99, 150)}
.altura_barra{padding: 0.1em;}
.mat-card{border-radius: 32px;
    margin: 10px 10px;
    padding: 5px;
    border-color:rgb(243, 243, 207);}
.navbar.navbar-expand-lg.bg-light{ background-color: rgb(242, 245, 78) !important;}
.container {justify-content: flex-center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  }
.fa-brands.fa-instagram.fa-lg:hover{color: rgba(243, 242, 234, 0.747);}
.fa-brands.fa-github:hover {color:rgb(248, 244, 244)}
.fa-brands.fa-linkedin-in.fa-lg:hover{color:rgb(243, 243, 243)}
.fa-brands.fa-facebook.fa-lg:hover{color:blue}
.fa-solid.fa-user.fa-lg.fa-solid.fa-user:hover{color: aliceblue;}
.button.btn.btn-primary.position-relative{color: beige;}
.carousel-item {background:rgb(242, 245, 78)}
body {background-color: rgba(242, 245, 78, 0.932) !important}
footer{text-align: justify;padding: auto;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: rgb(255, 252, 96);}
.card.mat-card {background: rgba(216, 230, 241, 0.884); }
.carousel-item.active {padding: 0cm;}
.img-thumbnail.bg-dark{ padding: 0cm;}
.card.dashboard {margin-top:0em;}
.list-group{margin-top: 0em;padding-left: 0em;}




